
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}

<div class="btn-group-vertical" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-secondary">Default</button>
    <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">Dropdown</button>
        <div class="dropdown-menu">
            <a class="dropdown-item">Go back</a><br />
            <a class="dropdown-item">Delete</a><br />
            <a class="dropdown-item">Swap</a>
        </div>
    </div>
    <button type="button" class="btn btn-outline-secondary">Default</button>
</div>

