@model ChangePassViewModel 
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}
<link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<div class="col-12 grid-margin" style="margin-bottom:300px; margin-top:50px;">
    <div class="">
        <div class="card-body">         
            <form class="w-75 mx-auto" asp-action="ChangePassword" asp-controller="Profil" method="post">
                <p class="card-description" style="font-size:x-large;">
                    ŞİFRE DEĞİŞTİR
                </p>
                <div style="font-size:medium;" asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="row" style="margin-top:25px;">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" style="font-size:medium;">Mevcut Şifre</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" asp-for="@Model.CurrentPassword" />
                                @*<span asp-validation-for="CurrentPassword" class="text-danger"></span>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" style="font-size:medium;">Yeni Şifre</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" asp-for="@Model.NewPassword" />
                                @*<span asp-validation-for="NewPassword" class="text-danger"></span>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label" style="font-size:medium;">Yeni Şifre Tekrar</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" asp-for="@Model.ConfirmPassword" />
                                @*<span asp-validation-for="ConfirmPassword" class="text-danger"></span>*@
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg ">Kaydet</button>
            </form>
        </div>
    </div>
</div>
