
@{
    ViewData["Title"] = "Anamenu";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-1 grid-margin stretch-card">
    </div>
    <div class="col-md-5 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title text-md-center text-xl-left"></p>
                <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                    <a style="text-decoration:none; color:black;" asp-action="Index" asp-controller="Rezervasyon"><h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">TUR REZERVASYON</h3></a>
                    <i class="ti-calendar icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title text-md-center text-xl-left"></p>
                <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                    <a style="text-decoration:none; color:black;"  asp-action="OtelIndex" asp-controller="Rezervasyon"><h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">OTEL REZERVASYON</h3></a>
                    <i class="ti-agenda icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                </div>
           
            </div>
        </div>
    </div>
    <div class="col-md-1 grid-margin stretch-card">
    </div>
</div>
