@model ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">ŞİFRE GÜNCELLE</h4>
            <form class="form-sample" asp-action="ChangePassword" asp-controller="Profil" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Mevcut Şifre</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" asp-for="@Model.CurrentPassword" />
                                @*<span asp-validation-for="CurrentPassword" class="text-danger"></span>*@
                            </div>
                        </div>
                    </div>                 
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Yeni Şifre</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" asp-for="@Model.NewPassword" />
                                @*<span asp-validation-for="NewPassword" class="text-danger"></span>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Yeni Şifre Tekrar</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" asp-for="@Model.ConfirmPassword" />
                                @*<span asp-validation-for="ConfirmPassword" class="text-danger"></span>*@
                            </div>
                        </div>
                    </div>                 
                </div>
                <button type="submit" class="btn btn-primary btn-sm ">Kaydet</button>
            </form>
        </div>
    </div>
</div>


