@model AppUserListViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">PROFİL GÜNCELLE</h4>
            <form class="form-sample" asp-action="Index" method="post">
                <p class="card-description">
                </p>
                <input type="hidden" asp-for="Id" />

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Ad</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" asp-for="@Model.Name" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Soyad</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" asp-for="@Model.Surname" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Kullanıcı Adı</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" asp-for="@Model.Username" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" asp-for="@Model.Email" />
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-sm ">Kaydet</button>
            </form>
        </div>
    </div>
</div>